{% extends "base.html" %}

{% block content %}
  <table class="cook-list">
    <tr style="border: #5D6D7E 3px solid">
      <th style="border: #5D6D7E 3px solid">
        First name
      </th>
      <th style="border: #5D6D7E 3px solid">
        Last name
      </th>
      <th style="border: #5D6D7E 3px solid">
        Username
      </th>
      <th style="border: #5D6D7E 3px solid">
        E-mail
      </th>
      <th style="border: #5D6D7E 3px solid">
        Years of experience
      </th>
      <th style="background-color: black">
      </th>
      <th style="background-color: black">
        <a href="{% url 'kitchen:cook-create' %}"><span class="btn btn-outline-light">Create</span></a>
      </th>
    </tr>
    {% for cook in cook_list %}
      <tr style="border: #5D6D7E 3px solid">
        <td>{{ cook.first_name }}</td>
        <td>{{ cook.last_name }}</td>
        <td>{{ cook.username }}</td>
        <td>{{ cook.email }}</td>
        <td style="border-right: #5D6D7E 3px solid">{{ cook.years_of_experience }}</td>
        <td style="background-color: black"><a href="{% url 'kitchen:cook-update' pk=cook.id %}"><span
            class="btn btn-outline-light">Update</span></a></td>
        <td style="background-color: black"><a href="{% url 'kitchen:cook-delete' pk=cook.id %}"><span
            class="btn btn-outline-danger">Delete</span></a></td>
      </tr>
    {% endfor %}

  </table>
{% endblock %}

























{##}
{#{% block content %}#}
{#  <div>#}
{#  <h1 class="">Cook list</h1>#}
{#  <a href="{% url 'kitchen:cook-create' %}">#}
{#    <input class="btn btn-primary link-to-page" type="button" value="Create">#}
{#  </a>#}
{#  {% for cook in cook_list %}#}
{#    <p class="">#}
{#      <a class="text-decoration-none text-white" href="{% url 'kitchen:cook-detail' pk=cook.id %}">#}
{#        {{ cook.first_name }} {{ cook.last_name }}, {{ cook.username }} {{ cook.email }}#}
{#      </a>#}
{#    </p>#}
{#    <a class="" href="{% url 'kitchen:cook-update' pk=cook.id %}">#}
{#      <input class="btn btn-primary" type="button" value="Update">#}
{#    </a>#}
{#  {% endfor %}#}
{#</div>#}
{#{% endblock %}#}